@import url('https://fonts.googleapis.com/css2?family=Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary: #0069D9;
  --secondary: #03A9F4;
  --accent: #FF4081;
  --background: #FFFFFF;
  --text: #212121;
  --secondary-hover: #079fe3;
  --gray: #ccc;
  --accent-hover: #f15389;
  --green: #43B365;
  --green-hover: #50C878;
}

body {
  font-family: 'Noto Sans Arabic', sans-serif;
  overflow-x: hidden;
}

/* start navbar styles  */

.navbar {
  background-color: var(--background);
  color: var(--text);
}

.navbar .logo {
  font-family: 'Vibes', cursive;
  font-size: 36px;
}

.navbar .nav-options .mode {
  background-color: var(--accent);
}

.navbar .nav-options .mode svg {
  color: #fff;
}

.navbar .nav-options .mode .light-mode {
  padding: 3px 10px;
  border-right: 1px solid #fff;
}

.navbar .nav-options .mode .dark-mode {
  padding: 3px 12px;
  border-left: 1px solid #fff;
}

.navbar .nav-options svg {
  color: var(--text);
}

.navbar .nav-options .slider .menu {
  background-color: var(--background);
  color: var(--text);
  top: 75.17px;
  left: -236px;
  width: 220px;
  height: calc(100vh - 75.15px);
  transition: all 0.3s;
  z-index: 9;
}

.navbar .nav-options .slider .menu.active {
  left: -16px;
}

.navbar .nav-options .slider .menu a {
  color: var(--text);
}

.navbar .nav-options .slider .menu a:hover,
.navbar .nav-options .slider .menu a:focus,
.navbar .nav-options .slider .menu a:active,
.navbar .nav-options .slider .menu a.active {
  color: var(--accent);
}

/* end navbar styles  */

/* start add table styles */

.add-table {
  min-height: 200px;
}

.add-table .table {
  width: 126.3px;
  max-height: 37.8px;
  padding: 6px 12px;
  background-color: var(--secondary);
  color: var(--background);
  border: 1px solid var(--secondary);
}

.add-table .table:hover,
.add-table .table:focus,
.add-table .table:active {
  background-color: var(--secondary-hover);
  border-color: var(--secondary-hover);
}

.add-table button {
  border: 1px solid var(--background);
  background-color: var(--background);
  color: var(--text);
}

.add-table #add-table:active,
.add-table #add-table:hover,
.add-table #add-table:focus {
  background-color: var(--gray);
  border-color: var(--gray);
  color: var(--text);
}

.add-table button svg,
.add-table button span {
  color: var(--text);
  pointer-events: none;
}

/* end add table styles */

/* start add table modal styles */

.modal-overlay {
  background-color: #ffffff0a;
  align-items: center;
  justify-content: center;
  display: none;
}

.modal-overlay.active {
  display: flex;
}

.modal-overlay .add-table-modal,
.modal-overlay .add-category-modal {
  width: 320px;
  background-color: var(--background);
  border: 1px solid var(--secondary);
  color: var(--text);
  animation: showModal .6s linear alternate;
}

.modal-overlay .close-modal {
  top: -15px;
  right: -7.5px;
  font-size: 30px;
}

.modal-overlay .close-modal svg {
  color: var(--accent);
  pointer-events: none;
}

.modal-overlay .add-table-modal label,
.modal-overlay .add-category-modal label {
  color: var(--secondary);
  font-size: 24px;
}

.modal-overlay .add-table-modal p,
.modal-overlay .add-category-modal p {
  color: var(--text);
}

.modal-overlay .add-table-modal button,
.modal-overlay .add-category-modal button {
  color: var(--background);
  background-color: var(--accent);
}

.modal-overlay .add-table-modal button:active,
.modal-overlay .add-table-modal button:hover,
.modal-overlay .add-table-modal button:focus,
.modal-overlay .add-category-modal button:active,
.modal-overlay .add-category-modal button:hover,
.modal-overlay .add-category-modal button:focus {
  color: var(--background);
  background-color: var(--accent-hover);
  border-color: var(--accent-hover);
}

@keyframes showModal {
  0% {
    transform: translateY(150px);
  }

  80% {
    transform: translateY(-50px);
  }

  100% {
    transform: translateY(0);
  }
}

/* end add table modal styles */

/* start login and register sections styles using client-data class */

.client-data {
  height: calc(100vh - 75.17px);
}

.client-data form {
  max-width: 370px;
}

.client-data form .form-input label,
.client-data form button[type="submit"] {
  color: var(--background);
}

.client-data form .form-input input {
  border-color: #fff;
}

/* .client-data form .form-input input, */
.client-data form .form-text {
  color: var(--text);
}

.client-data form button[type="submit"],
.client-data form button {
  background-color: var(--accent);
  border-color: var(--accent);
  color: var(--background);
}

.client-data form button[type="submit"]:hover,
.client-data form button[type="submit"]:focus,
.client-data form button[type="submit"]:active,
.client-data form div #profile-cashier-delete:hover,
.client-data form div #profile-cashier-delete:focus,
.client-data form div #profile-cashier-delete:active {
  background-color: var(--accent-hover);
  border-color: var(--accent-hover);
  color: var(--background);
}

.client-data form button.green-button {
  background-color: var(--green);
  border-color: var(--green);
}

.client-data form button.green-button:hover,
.client-data form button.green-button:focus,
.client-data form button.green-button:active {
  background-color: var(--green-hover);
  border-color: var(--green-hover);
}

/* end login and register sections styles using client-data class */

/* start menu and categories page styles */
.menu {
  margin: 0 !important;
}

.menu .categories {
  overflow-x: auto;
}

.menu .categories .category,
.menu .categories .add-category {
  width: 200px;
  height: 80px;
  color: var(--background);
  flex-shrink: 0;
}

.menu .categories .category.active {
  border: 1px solid var(--background);
}

.menu .categories .add-category {
  color: var(--text);
  padding: 20px;
  background-color: var(--background);
}

.menu .categories .category .control,
.menu .categories .category .data {
  flex-grow: 1;
}

.menu .categories .category .control .delete-category {
  background-color: var(--accent);
}

.menu .categories .category .control .edit-category {
  background-color: var(--green);
}

.menu .categories .category .control .delete-category,
.menu .categories .category .control .edit-category,
.menu .categories .category .data {
  padding: 20px 0;
}

.menu .categories .category .data {
  white-space: nowrap;
  overflow: hidden;
}

/* start scrollbar styles */

.menu .categories::-webkit-scrollbar,
.order-menu .menu-categories::-webkit-scrollbar,
.orders-display .table-container::-webkit-scrollbar,
.report .options::-webkit-scrollbar {
  scroll-behavior: smooth;
  background-color: #fff;
  border-radius: 6px;
}

.menu .categories::-webkit-scrollbar-thumb,
.order-menu .menu-categories::-webkit-scrollbar-thumb,
.orders-display .table-container::-webkit-scrollbar-thumb,
.report .options::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: 6px;
}

/* end scrollbar styles */

.menu .category-items .item,
.menu .category-items .add-item,
.menu .category-items .edit-item {
  color: var(--text);
  border: 0;
  height: 255.88px;
  /* width: 293.35px; */
}

.menu .category-items .active {
  display: none;
}

.menu .category-items .item {
  background-color: var(--secondary);
  color: var(--background);
}

.menu .category-items .item .control .delete-item,
.menu .category-items .item .control .edit-item {
  padding: 18px;
  height: 0;
}

.menu .category-items .item .control .delete-item {
  background-color: var(--accent);
}

.menu .category-items .item .control .edit-item {
  background-color: var(--green);
}

.menu .category-items .add-item {
  background-color: var(--background);
}

.menu .category-items .add-item .add-item-button,
.menu .category-items .edit-item .edit-item-button {
  color: var(--background);
  background-color: var(--accent);
  padding: 6px 12px;
}

.menu .category-items .edit-item .edit-item-button,
.menu .category-items .edit-item .back-button {
  max-width: 120px;
  color: var(--background);
}

.menu .category-items .edit-item .back-button {
  background-color: var(--green);
}

@media (max-width: 576px) {

  .menu .category-items .item,
  .menu .category-items .add-item,
  .menu .category-items .edit-item {
    width: 293.35px;
  }
}

/* end menu and categories page styles */

/* start order page styles */

/* start work on order-menu */

.order-menu .section-label,
.orders-display .section-label {
  background-color: var(--secondary);
  color: var(--background);
  padding: 12px 16px;
}

.order-menu .menu-categories li,
.order-menu .category-items li {
  width: 200px;
  height: 80px;
  color: var(--background);
  flex-shrink: 0;
}

.order-menu .menu-categories li.active {
  border: 1px solid var(--background);
}

.order-menu .category-items li {
  background-color: var(--background);
  color: var(--text);
  width: 100px;
  font-size: 13px;
}

.order-menu .category-items li h6 {
  font-size: 15px;
}

/* end work on order-menu */

/* start work on chosen-orders */

.orders-display .table-container table {
  color: var(--background);
  border-color: var(--gray);
}

.orders-display .table-container table th,
.orders .table-container table th {
  font-size: 14px;
}

.orders-display .table-container table td,
.orders .table-container table td {
  font-size: 13px;
}

.orders-display .action-buttons button {
  color: var(--background);
  padding: 8px 12px;
}

.orders-display .action-buttons button:nth-child(1) {
  background-color: var(--accent);
}

.orders-display .action-buttons button:nth-child(2) {
  background-color: #03A9F4;
}

.orders-display .action-buttons button:nth-child(3) {
  background-color: var(--green);
}

/* end work on chosen-orders */

/* start print page style while printing */

/* @media print { */
.print .print-label h2 {
  font-family: 'Vibes', cursive;
  letter-spacing: 1px;
}

.print table,
.print table tr,
.print table .print-body,
.print table .print-foot {
  border-color: #ccc;
}

.print table th,
.print table td {
  color: #212121;
}

/* } */

/* end print page style while printing */

/* end order page styles */

/* start notification style */

.notification {
  background-color: var(--accent);
  color: var(--background);
  font-size: 14px;
  pointer-events: none;
  left: 0;
  top: 50%;
  animation: notification 3s linear;
}

@keyframes notification {
  0% {
    transform: translateY(150%);
    opacity: 0;
  }

  20% {
    transform: translateY(100%);
    opacity: .5;
  }

  40% {
    transform: translateY(50%);
    opacity: 1;
  }

  60% {
    transform: translateY(0);
    opacity: 1;
  }

  75% {
    opacity: 1;
  }

  85% {
    opacity: .7;
  }

  100% {
    opacity: .3;
  }
}

/* end notification style */

/* start report file style */

/* start work on report options (menu) */

.report .options li {
  color: var(--background);
  padding: 12px 16px;
}

.report .options li {
  width: 200px;
  height: 80px;
  color: var(--background);
  flex-shrink: 0;
}

.report .options li.active {
  border: 1px solid var(--background);
}

/* end work on report options (menu) */

/* start work on report included files */

.option-details .general-details,
.option-details .general-report-structure,
.option-details .done-report-structure,
.option-details .canceled-report-structure,
.option-details .runout-report-structure {
  margin: 0 -8px;
}

.option-details .general-details h6 {
  font-size: 15px;
}

.option-details .general-report-structure .section-label,
.option-details .done-report-structure .section-label,
.option-details .canceled-report-structure .section-label,
.option-details .runout-report-structure .section-label,
.option-details .cashier-report-structure .section-label {
  background-color: var(--secondary);
  color: var(--background);
  padding: 12px 16px;
}

.option-details .general-report-structure .section-label svg,
.option-details .done-report-structure .section-label svg,
.option-details .canceled-report-structure .section-label svg,
.option-details .runout-report-structure .section-label svg,
.option-details .cashier-report-structure .section-label svg {
  margin: 2px 0 -2px;
}

.done-report-structure .done-table-container,
.canceled-report-structure .canceled-table-container,
.runout-report-structure .runout-table-container {
  overflow-y: hidden;
}

.done-report-structure table,
.canceled-report-structure table,
.runout-report-structure table {
  border-color: var(--gray);
}

.done-report-structure table td,
.canceled-report-structure table td,
.runout-report-structure table td {
  background-color: transparent;
  text-align: center;
}

.done-report-structure table td,
.canceled-report-structure table td {
  cursor: pointer;
}

.done-report-structure table thead tr,
.canceled-report-structure table thead tr,
.runout-report-structure table thead tr {
  pointer-events: none;
}

.done-report-structure .show-day .select-day-label,
.done-report-structure .show-rows .select-row-label,
.done-report-structure table td,
.canceled-report-structure .show-day .select-day-label,
.canceled-report-structure .show-rows .select-row-label,
.canceled-report-structure table td,
.runout-report-structure .quantity-search-label,
.runout-report-structure table td,
.cashier-report-structure .select-day-label {
  color: var(--background);
}

.done-report-structure .pagination a,
.canceled-report-structure .pagination a {
  background-color: var(--background);
  border-color: var(--background);
  color: var(--text);
}

.done-report-structure button,
.canceled-report-structure button,
.runout-report-structure button,
.cashier-report-structure #day-button {
  background-color: var(--accent);
  color: var(--background);
  padding: 4px 12px;
}

.runout-report-structure #quantity-search {
  padding: 4px 12px;
  border-color: var(--background);
  outline: none;
}

.general-chart canvas,
.done-chart canvas,
.canceled-chart canvas {
  border: 2.5px solid var(--background);
  max-width: 500px;
  max-height: 255px;
}

.runout-report-structure,
.cashier-report-structure {
  max-width: 500px;
}

@media (max-width: 324px) {
  .option-details .general-details>div {
    min-width: 200px;
    min-height: 80px;
    margin: 16px auto 0;
  }
}

@media (min-width: 992px) {

  .done-report-structure .done-table-container,
  .canceled-report-structure .canceled-table-container {
    margin-bottom: 16px;
  }
}

/* end work on report included files */

/* start work on report-general file styles */

.option-details .general-details>div {
  min-width: 155px;
  min-height: 80px;
}

.option-details .general-details>div>div {
  background-color: var(--background);
  color: var(--text);
}

.option-details .general-details>div>div .detail-logo {
  opacity: .6;
  top: 6px;
  right: 6px;
}

/* end work on report-general file styles */

/* start cashier report file style */

.cashier-report-structure .accordion .accordion-item button {
  background-color: var(--secondary);
  color: var(--background);
}

.cashier-report-structure .general-details>div>div {
  border: 1px solid var(--text);
}

.cashier-report-structure .accordion .accordion-item .accordion-button:after {
  filter: invert(100%);
}

/* end cashier report file style */

/* end report file style */

/* start work on details page styles */

.details dt,
.details dd {
  color: var(--background);
}

/* end work on details page styles */