@import url('https://fonts.googleapis.com/css2?family=Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary: #0069D9;
  --secondary: #03A9F4;
  --accent: #FF4081;
  --background: #FFFFFF;
  --text: #212121;
  --secondary-hover: #079fe3;
  --gray: #ccc;
  --accent-hover: #f15389;
  --green: #43B365;
  --green-hover: #50C878;
}

body {
  font-family: 'Noto Sans Arabic', sans-serif;
  overflow-x: hidden;
}

/* start navbar styles  */

.navbar {
  background-color: var(--background);
  color: var(--text);
}

.navbar .logo {
  font-family: 'Vibes', cursive;
  font-size: 36px;
}

.navbar .nav-options .mode {
  background-color: var(--accent);
}

.navbar .nav-options .mode svg {
  color: #fff;
}

.navbar .nav-options .mode .light-mode {
  padding: 3px 10px;
  border-right: 1px solid #fff;
}

.navbar .nav-options .mode .dark-mode {
  padding: 3px 12px;
  border-left: 1px solid #fff;
}

.navbar .nav-options svg {
  color: var(--text);
}

.navbar .nav-options .slider .menu {
  background-color: var(--background);
  color: var(--text);
  top: 75.17px;
  left: -236px;
  width: 220px;
  height: calc(100vh - 75.15px);
  transition: all 0.3s;
}

.navbar .nav-options .slider .menu.active {
  left: -16px;
}

.navbar .nav-options .slider .menu a {
  color: var(--text);
}

.navbar .nav-options .slider .menu a:hover,
.navbar .nav-options .slider .menu a:focus,
.navbar .nav-options .slider .menu a:active,
.navbar .nav-options .slider .menu a.active {
  color: var(--accent);
}

/* end navbar styles  */

/* start add table styles */

.add-table {
  min-height: 200px;
}

.add-table .table {
  width: 126.3px;
  max-height: 37.8px;
  padding: 6px 12px;
  background-color: var(--secondary);
  color: var(--background);
  border: 1px solid var(--secondary);
}

.add-table .table:hover,
.add-table .table:focus,
.add-table .table:active {
  background-color: var(--secondary-hover);
  border-color: var(--secondary-hover);
}

.add-table button {
  border: 1px solid var(--background);
  background-color: var(--background);
  color: var(--text);
}

.add-table #add-table:active,
.add-table #add-table:hover,
.add-table #add-table:focus {
  background-color: var(--gray);
  border-color: var(--gray);
  color: var(--text);
}

.add-table button svg,
.add-table button span {
  color: var(--text);
  pointer-events: none;
}

/* end add table styles */

/* start add table modal styles */

.modal-overlay {
  background-color: #ffffff0a;
  align-items: center;
  justify-content: center;
  display: none;
}

.modal-overlay.active {
  display: flex;
}

.modal-overlay .add-table-modal,
.modal-overlay .add-category-modal {
  width: 320px;
  background-color: var(--background);
  border: 1px solid var(--secondary);
  color: var(--text);
  animation: showModal .6s linear alternate;
}

.modal-overlay .close-modal {
  top: -15px;
  right: -7.5px;
  font-size: 30px;
}

.modal-overlay .close-modal svg {
  color: var(--accent);
  pointer-events: none;
}

.modal-overlay .add-table-modal label,
.modal-overlay .add-category-modal label {
  color: var(--secondary);
  font-size: 24px;
}

.modal-overlay .add-table-modal p,
.modal-overlay .add-category-modal p {
  color: var(--text);
}

.modal-overlay .add-table-modal button,
.modal-overlay .add-category-modal button {
  color: var(--background);
  background-color: var(--accent);
}

.modal-overlay .add-table-modal button:active,
.modal-overlay .add-table-modal button:hover,
.modal-overlay .add-table-modal button:focus,
.modal-overlay .add-category-modal button:active,
.modal-overlay .add-category-modal button:hover,
.modal-overlay .add-category-modal button:focus {
  color: var(--background);
  background-color: var(--accent-hover);
  border-color: var(--accent-hover);
}

@keyframes showModal {
  0% {
    transform: translateY(150px);
  }

  80% {
    transform: translateY(-50px);
  }

  100% {
    transform: translateY(0);
  }
}

/* end add table modal styles */

/* start login and register sections styles using client-data class */

.client-data {
  height: calc(100vh - 75.17px);
}

.client-data form {
  max-width: 370px;
}

.client-data form .form-input label,
.client-data form button[type="submit"] {
  color: var(--background);
}

.client-data form .form-input input {
  border-color: #fff;
}

/* .client-data form .form-input input, */
.client-data form .form-text {
  color: var(--text);
}

.client-data form button[type="submit"],
.client-data form button {
  background-color: var(--accent);
  border-color: var(--accent);
  color: var(--background);
}

.client-data form button[type="submit"]:hover,
.client-data form button[type="submit"]:focus,
.client-data form button[type="submit"]:active,
.client-data form div #profile-cashier-delete:hover,
.client-data form div #profile-cashier-delete:focus,
.client-data form div #profile-cashier-delete:active {
  background-color: var(--accent-hover);
  border-color: var(--accent-hover);
  color: var(--background);
}

.client-data form button.green-button {
  background-color: var(--green);
  border-color: var(--green);
}

.client-data form button.green-button:hover,
.client-data form button.green-button:focus,
.client-data form button.green-button:active {
  background-color: var(--green-hover);
  border-color: var(--green-hover);
}

/* end login and register sections styles using client-data class */

/* start menu and categories page styles */
.menu {
  margin: 0 !important;
}

.menu .categories {
  overflow-x: auto;
}

.menu .categories .category,
.menu .categories .add-category {
  width: 200px;
  height: 80px;
  color: var(--background);
  flex-shrink: 0;
}

.menu .categories .category.active {
  border: 1px solid var(--background);
}

.menu .categories .add-category {
  color: var(--text);
  padding: 20px;
  background-color: var(--background);
}

.menu .categories .category .control,
.menu .categories .category .data {
  flex-grow: 1;
}

.menu .categories .category .control .delete-category {
  background-color: var(--accent);
}

.menu .categories .category .control .edit-category {
  background-color: var(--green);
}

.menu .categories .category .control .delete-category,
.menu .categories .category .control .edit-category,
.menu .categories .category .data {
  padding: 20px 0;
}

.menu .categories .category .data {
  white-space: nowrap;
  overflow: hidden;
}

/* start scrollbar styles */

.menu .categories::-webkit-scrollbar {
  scroll-behavior: smooth;
  background-color: #fff;
  border-radius: 6px;
}

.menu .categories::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: 6px;
}

/* end scrollbar styles */

.menu .category-items .item,
.menu .category-items .add-item {
  color: var(--text);
  border: 0;
  height: 255.88px;
}

.menu .category-items .active {
  display: none;
}

.menu .category-items .item {
  background-color: var(--secondary);
  color: var(--background);
}

.menu .category-items .item .control .delete-item,
.menu .category-items .item .control .edit-item {
  padding: 18px;
}

.menu .category-items .item .control .delete-item {
  background-color: var(--accent);
}

.menu .category-items .item .control .edit-item {
  background-color: var(--green);
}

.menu .category-items .add-item {
  background-color: var(--background);
}

.menu .category-items .add-item .add-item-button,
.menu .category-items .edit-item .edit-item-button {
  color: var(--background);
  background-color: var(--accent);
  padding: 6px 12px;
}

.menu .category-items .edit-item .edit-item-button,
.menu .category-items .edit-item .back-button {
  max-width: 120px;
  color: var(--background);
}

.menu .category-items .edit-item .back-button {
  background-color: var(--green);
}

/* end menu and categories page styles */