<body>
  <div class="container-fluid p-3">
    <h1 class="logo m-0 fw-bold">الكاشير</h1>
    <div class="nav-options d-flex align-items-center">
      <div class="language me-3 rounded d-flex align-items-center">
        <div id="lang" class="" data-lang="ar" role="button">
          <i class="fa-solid fa-e"></i>
        </div>
      </div>
      <div class="mode me-3 rounded d-flex align-items-center">
        <div id="dark" class="dark-mode" role="button">
          <i class="fa-regular fa-moon"></i>
        </div>
        <div id="light" class="light-mode" role="button">
          <i class="fa-regular fa-sun"></i>
        </div>
      </div>
      <div class="slider position-relative">
        <div id="bars" class="bars fs-1 d-flex align-items-center" role="button">
          <i class="fa-solid fa-bars"></i>
        </div>
        <aside id="slide-menu" class="menu position-fixed py-3 text-center">
          <ul class="m-0 list-unstyled d-flex align-items-center flex-column">
            <li class="w-100 p-2">
              <a class="text-decoration-none" href="./index.html" data-file="home" role="button">الصفحة الرئيسية</a>
            </li>
            <li class="w-100 p-2">
              <a class="text-decoration-none" href="./profile.html" data-file="profile" role="button">تعديل الحساب</a>
            </li>
            <li class="w-100 p-2">
              <a class="text-decoration-none" href="./register.html" data-file="register" role="button">إضافة حساب</a>
            </li>
            <li class="w-100 p-2">
              <a class="text-decoration-none" href="./menu.html" data-file="menu" role="button">قائمة الطعام</a>
            </li>
            <li class="w-100 p-2">
              <a class="text-decoration-none" href="./report.html" data-file="report" role="button">التقارير اليومية</a>
            </li>
            <li class="w-100 p-2">
              <a id="logout" class="text-decoration-none" role="button">إنهاء الشيفت</a>
            </li>
          </ul>
        </aside>
      </div>
    </div>
  </div>
  <script>
    const allElements = document.querySelectorAll('*');
    const englishNavbar = {
      "الكاشير": "Al-cashier",
      "الصفحة الرئيسية": "Home Page",
      "تعديل الحساب": "Edit profile",
      "إضافة حساب": "New Register",
      "قائمة الطعام": "Food Menu",
      "التقارير اليومية": "Daily Reports",
      "إنهاء الشيفت": "End Shift"
    };

    if (lang === 'en') {
      allElements.forEach(ele => {
        if (Object.keys(englishNavbar).includes(ele.textContent))
          ele.textContent = englishNavbar[ele.textContent];
      });
    }
  </script>
</body>