<body>
  <div class="done-report-structure row">
    <div class="col-12 col-lg-6 px-2">
      <div class="section-label rounded text-center my-3">
        <h2 class="m-0 p-0 fs-6">
          <i class="fa-solid fa-circle-check"></i>
          <span class="ms-2">كل الطاولات التي تمت</span>
        </h2>
      </div>
      <div class="done-table-container table-responsive">
        <form class="show-day" action="">
          <label class="select-day-label" for="select-day">اليوم</label>
          <select id="select-day" class="form-select form-select-sm w-auto d-inline-block shadow-none"></select>
          <button id="day-button" type="button" class="rounded border-0 done-select-label">عرض</button>
        </form>
        <table id="done-table" class="table table-bordered table-hover my-3 mx-0">
          <thead>
            <tr>
              <td class="text-nowrap bg-transparent text-center">إسم الطاولة</td>
              <td class="text-nowrap bg-transparent text-center">الكاشير</td>
              <td class="text-nowrap bg-transparent text-center">عدد الطلبات</td>
              <td class="text-nowrap bg-transparent text-center">إجمالي الدخل</td>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
        <div class="table-footer row m-0">
          <div class="col-6 px-0">
            <ul class="pagination pagination-sm m-0 p-0">
              <li class="page-item">
                <a id="done-table-next" class="page-link" role="button">التالي</a>
              </li>
              <li class="page-item">
                <a class="page-link">***</a>
              </li>
              <li class="page-item">
                <a id="done-table-prev" class="page-link" role="button">السابق</a>
              </li>
            </ul>
          </div>
          <div class="col-6 px-0">
            <form class="show-rows text-end" action="">
              <label class="select-row-label" for="select-row">الصفوف</label>
              <select id="select-row" class="form-select form-select-sm w-auto d-inline-block shadow-none">
                <option value="10">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
              </select>
              <button id="row-button" type="button" class="rounded border-0 done-select-label">أظهر</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-6 px-2">
      <div class="section-label rounded text-center mt-3">
        <h2 class="m-0 p-0 fs-6">
          <i class="fa-solid fa-chart-line"></i>
          <span class="ms-2">جدول بياني للطاولات التامة في الشهر</span>
        </h2>
      </div>
      <div class="done-chart my-3">
        <canvas id="done-chart" class="bg-light rounded w-100 mx-auto"></canvas>
      </div>
    </div>
  </div>
  <script>
    // select all elements
    const selectDate = document.getElementById('select-day');
    const selectDateButton = document.getElementById('day-button');
    const selectMany = document.getElementById('select-row');
    const selectManyButton = document.getElementById('row-button');
    const tableBody = document.querySelector('#done-table tbody');

    // display all dates in month inside the select box
    paidOrders.forEach(day => {
      const option = document.createElement('option');
      option.textContent = day.date;
      selectDate.append(option);
    });

    // show the first date in the done table array
    if (paidOrders[0].data.length <= 10) {
      buildTable(tableBody, paidOrders[0].data, paidOrders[0].data.length);
    } else {
      buildTable(tableBody, paidOrders[0].data, +selectMany.value);
    }

    // show the data depends on the day I have selected
    showDay(selectDateButton, selectDate, paidOrders, (data) => {
      if (data.length <= +selectMany.value) {
        return buildTable(tableBody, data, data.length);
      } else {
        return buildTable(tableBody, data, +selectMany.value);
      }
    }, tableBody);

    // show rows in table depends on the select box
    showRows(selectManyButton, selectMany, paidOrders, tableBody);

    // start work on the chart of done tables using chart.js library
    const ctx = document.getElementById("done-chart").getContext("2d");

    const chart = new Chart(ctx, {
      type: "bar",
      data: {
        labels: paidOrders.map(order => new Date(order.date).getDate()),
        datasets: [
          {
            label: "Done Tables",
            data: paidOrders.map(order => order.data.length),
            borderColor: "rgba(255, 99, 132, 0.2)",
            backgroundColor: "rgba(255, 99, 132, 1)",
            barThickness: 20
          },
        ],
      },
      options: {
        responsive: true,
      },
    });
  </script>
</body>