<body>
  <div class="general-details row g-3">
    <div class="cashiers-number col-6 col-sm-4 col-md-3 col-lg-2 px-2">
      <div class="p-3 rounded text-center position-relative">
        <div class="detail-logo position-absolute">
          <i class="fa-solid fa-cash-register fs-4"></i>
        </div>
        <h6 class="p-0 mb-2 text-nowrap">عدد الكاشير</h6>
        <p class="p-0 m-0"></p>
      </div>
    </div>
    <div class="drinks-number col-6 col-sm-4 col-md-3 col-lg-2 px-2">
      <div class="p-3 rounded text-center position-relative">
        <div class="detail-logo position-absolute">
          <i class="fa-solid fa-mug-hot fs-4"></i>
        </div>
        <h6 class="p-0 mb-2 text-nowrap">عدد المشروبات</h6>
        <p class="p-0 m-0"></p>
      </div>
    </div>
    <div class="daily-income col-6 col-sm-4 col-md-3 col-lg-2 px-2">
      <div class="p-3 rounded text-center position-relative">
        <div class="detail-logo position-absolute">
          <i class="fa-solid fa-sack-dollar fs-4"></i>
        </div>
        <h6 class="p-0 mb-2 text-nowrap">دخل اليوم</h6>
        <p class="p-0 m-0"></p>
      </div>
    </div>
    <div class="done-tables col-6 col-sm-4 col-md-3 col-lg-2 px-2">
      <div class="p-3 rounded text-center position-relative">
        <div class="detail-logo position-absolute">
          <i class="fa-solid fa-circle-check fs-4"></i>
        </div>
        <h6 class="p-0 mb-2 text-nowrap">طاولات تمت</h6>
        <p class="p-0 m-0"></p>
      </div>
    </div>
    <div class="canceled-tables col-6 col-sm-4 col-md-3 col-lg-2 px-2">
      <div class="p-3 rounded text-center position-relative">
        <div class="detail-logo position-absolute">
          <i class="fa-solid fa-circle-xmark fs-4"></i>
        </div>
        <h6 class="p-0 mb-2 text-nowrap">طاولات ملغاة</h6>
        <p class="p-0 m-0"></p>
      </div>
    </div>
    <div class="ordered-orders col-6 col-sm-4 col-md-3 col-lg-2 px-2">
      <div class="p-3 rounded text-center position-relative">
        <div class="detail-logo position-absolute">
          <i class="fa-solid fa-utensils fs-4"></i>
        </div>
        <h6 class="p-0 mb-2 text-nowrap">أطعمة مسحوبة</h6>
        <p class="p-0 m-0"></p>
      </div>
    </div>
  </div>
  <div class="daily-income-chart">

  </div>
  <script>
    // add details to the general report option
    const detailElements = document.querySelectorAll('.general-details p');
    const clients = JSON.parse(localStorage.getItem('clients')) || [];
    const menu = JSON.parse(localStorage.getItem('menu-categories')) || [];
    const paidOrders = JSON.parse(localStorage.getItem('paid-orders')) || [];
    const canceledTables = JSON.parse(localStorage.getItem('canceled-tables')) || [];
    const date = new Date();
    let [clientsNumber, allDrinks, dailyIncome, doneTables, canceled, ordered] =
      [0, 0, 0, 0, 0, 0, 0];

    // get all clients in system (registered clients)
    clientsNumber = clients.length;

    // get all drinks - food - products that are in menu in all categories
    allDrinks = menu.map(e => e.content.length).reduce((a, c) => a = a + c);

    // function to compare if today is the day in local storage
    const checkDay = (day) => {
      return day.date.slice(day.date.indexOf('/') + 1, day.date.lastIndexOf('/')) == date.getDate() ? true : false;
    };

    // get total price and done tables and the products that ordered in the whole day
    paidOrders.forEach(day => {
      const isDay = checkDay(day);
      if (isDay) {
        dailyIncome = day.data.map(e => e.totalPrice).reduce((a, c) => a + c);
        doneTables = day.data.length;
        ordered = day.data.map(e => e.ordersNumber).reduce((a, c) => a + c);
      }
    });

    // get the canceled tables in the whole day
    canceledTables.forEach(day => {
      const isDay = checkDay(day);
      if (isDay) canceled = day.data.length;
    });

    // now put the details in its paragraph to show it in dom
    const details = [clientsNumber, allDrinks, dailyIncome, doneTables, canceled, ordered];
    detailElements.forEach((ele, ind) => ele.innerHTML = details[ind]);
  </script>
</body>