<body>
  <div class="general-details row g-3">
    <div class="cashiers-number col-6 col-sm-4 col-md-3 col-lg-2 px-2">
      <div class="p-3 rounded text-center">
        <h6 class="p-0 mb-2 text-nowrap">عدد الكاشير</h6>
        <p class="p-0 m-0"></p>
      </div>
    </div>
    <div class="drinks-number col-6 col-sm-4 col-md-3 col-lg-2 px-2">
      <div class="p-3 rounded text-center">
        <h6 class="p-0 mb-2 text-nowrap">عدد المشروبات</h6>
        <p class="p-0 m-0"></p>
      </div>
    </div>
    <div class="daily-income col-6 col-sm-4 col-md-3 col-lg-2 px-2">
      <div class="p-3 rounded text-center">
        <h6 class="p-0 mb-2 text-nowrap">دخل اليوم</h6>
        <p class="p-0 m-0"></p>
      </div>
    </div>
    <div class="done-tables col-6 col-sm-4 col-md-3 col-lg-2 px-2">
      <div class="p-3 rounded text-center">
        <h6 class="p-0 mb-2 text-nowrap">طاولات تمت</h6>
        <p class="p-0 m-0"></p>
      </div>
    </div>
    <div class="canceled-tables col-6 col-sm-4 col-md-3 col-lg-2 px-2">
      <div class="p-3 rounded text-center">
        <h6 class="p-0 mb-2 text-nowrap">طاولات ملغاة</h6>
        <p class="p-0 m-0"></p>
      </div>
    </div>
    <div class="paid-orders col-6 col-sm-4 col-md-3 col-lg-2 px-2">
      <div class="p-3 rounded text-center">
        <h6 class="p-0 mb-2 text-nowrap">طلبات دفعت</h6>
        <p class="p-0 m-0"></p>
      </div>
    </div>
  </div>
  <div class="daily-income-chart"></div>
  <script>
    // add details to the general report option
    const detailElements = document.querySelectorAll('.general-details p');
    console.log(detailElements);
  </script>
</body>