<body>
  <div class="cashier-report-structure mx-auto">
    <div class="section-label rounded text-center my-3">
      <h2 class="m-0 p-0 fs-6">
        <i class="fa-solid fa-cash-register"></i>
        <span class="ms-2">كل المعلومات حول الكاشير</span>
      </h2>
    </div>
    <form class="show-day" action="">
      <label class="select-day-label" for="select-day">اليوم</label>
      <select id="select-day" class="form-select form-select-sm w-auto d-inline-block shadow-none"></select>
      <button id="day-button" type="button" class="rounded border-0 done-select-label">عرض</button>
    </form>
    <div class="accordion my-3 shadow-none" id="accordionExample">
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button shadow-none" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Accordion Item #1
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
          <div class="accordion-body">

          </div>
        </div>
      </div>
    </div>
  </div>
  <script>

  </script>
</body>